@inherits LayoutComponentBase
@* @rendermode InteractiveServer *@



    <!-- Begin page -->
    <div class="wrapper">

        
        <!-- Sidenav Menu Start -->
        <EasyERP.UI.Components.ChildComponents.Common.SideNavMenu />
        <!-- Sidenav Menu End -->
        

        <!-- Topbar Start -->
        <EasyERP.UI.Components.ChildComponents.Common.Topbar />
        <!-- Topbar End -->


        <!-- Search Modal -->
        <EasyERP.UI.Components.ChildComponents.Common.SearchModal />

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="page-content">

            @Body

            <!-- Footer Start -->
            <EasyERP.UI.Components.ChildComponents.Common.Footer />
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- Theme Settings -->
    <EasyERP.UI.Components.ChildComponents.Common.ThemeSettings />
    


