

<div class="dropdown-menu dropdown-menu-end">
    <!-- item-->
    <div class="dropdown-header noti-title">
        <h6 class="text-overflow m-0">Welcome engin</h6>
    </div>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item">
        <i class="ti ti-user-hexagon me-1 fs-17 align-middle"></i>
        <span class="align-middle">My Account</span>
    </a>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item">
        <i class="ti ti-wallet me-1 fs-17 align-middle"></i>
        <span class="align-middle">Wallet : <span class="fw-semibold">$985.25</span></span>
    </a>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item">
        <i class="ti ti-settings me-1 fs-17 align-middle"></i>
        <span class="align-middle">Settings</span>
    </a>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item">
        <i class="ti ti-lifebuoy me-1 fs-17 align-middle"></i>
        <span class="align-middle">Support</span>
    </a>

    <div class="dropdown-divider"></div>

    <!-- item-->
    <a href="/lockscreen" class="dropdown-item">
        <i class="ti ti-lock-square-rounded me-1 fs-17 align-middle"></i>
        <span class="align-middle">Lock Screen</span>
    </a>

    <!-- item-->
    <a href="/login" class="dropdown-item active fw-semibold text-danger">
        <i class="ti ti-logout me-1 fs-17 align-middle"></i>
        <span class="align-middle">Sign Out</span>
    </a>
</div>